#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}.field-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
}

input{
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 0.2rem;
}

input:hover {
  box-shadow: 0 0 8px #3841e7;
}

button[type="submit"]{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkblue;
}

.form-container {
  background: #2c2b2b;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 350px; /* ancho inicial */
  transition: width 0.5s ease-in-out; /* animación del ancho */
}

.form-container.expandido {
  width: 400px; /* ancho cuando se expande */
}


input {   
  flex: 1;  
}

.title{
  color: yellow;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
/*ultimo elemento del box debe ser mas grande o tener mas with que el primero del box*/
.box:last-child {
  flex-grow: 5;
}